In [78]:
print("hello")

hello

In [50]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [51]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [52]:
for i in range(6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(1)

1
1 1
1 2 1
1 2 3 1
1 2 3 4 1
1 2 3 4 5 1

In [53]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [83]:
for i in range(1,6):
    for k in range(6-i):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(j,end="   ")
    print()
for i in range(5,0,-1):
    for k in range(5-i):
        print("  ",end=" ")
    for j in range(1,i+1):
        print(j,end="    ")
    print()

          1
        1   2
      1   2   3
    1   2   3   4
  1   2   3   4   5
1    2    3    4    5
   1    2    3    4
      1    2    3
         1    2
            1

In [84]:
for i in range(5,0,-1):
    for j in range(i):
        print(i, end= ' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [85]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [86]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [87]:
for i in range(5,0,-1):
    for k in range(i-1):
        print(' ', end=' ')
    for j in range(5,i-1,-1):
        print(i, end=' ')
    print()

        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [88]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [89]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j, end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [90]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [91]:
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [24]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [26]:
n = int(input())
for i in range(1,n + 1):
    print((n - i) * " "+ chr(64+i) * i+ (n - i) * " "+ chr(96 + i) * i)
print()

    A    a
   BB   bb
  CCC  ccc
 DDDD dddd
EEEEEeeeee

In [ ]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(0,5):
    for j in range(i + 1):
        print(chr(65 + j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
for i in range(0,5):
    for j in range(i + 1):
        print(chr(97 + j), end=" ")
    print()

a
a b
a b c
a b c d
a b c d e

In [ ]:
for i in range(0,5):
    for j in range(i + 1):
        print(chr(65 + i), end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(0,5):
    for j in range(i + 1):
        print(chr(97 + i), end=" ")
    print()

a
b b
c c c
d d d d
e e e e e

In [ ]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [27]:
for i in range(1, 6):
    if i % 2 == 0:
        print(" " * (5-i) + "#" * i)
    else:
        print(" " * (5-i) + "&" * i)

    &
   ##
  &&&
 ####
&&&&&

In [ ]:
for i in range(1, 6):
    if i % 2 == 0:
        print(" " * (5-i) + "#" * i)
    else:
        print(" " * (5-i) + "&" * i)

    &
   ##
  &&&
 ####
&&&&&

In [ ]:
for i in range(1, 6):
    if i % 2 == 0:
        print(" " * (5-i) + "&" * i)
    else:
        print(" " * (5-i) + "#" * i)

    #
   &&
  ###
 &&&&
#####

In [ ]:
for i in range(1,6):
    print((5 - i) * " "+ chr(64+i) * i+ (5 - i) * " "+ chr(96 + i) * i)
print()

    A    a
   BB   bb
  CCC  ccc
 DDDD dddd
EEEEEeeeee

In [29]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end=" ")
    for k in range(5,i,-1):
        print(" ",end = " ")
    for k in range(5,i,-1):
        print(" ",end = " ")
    for j in range(1,i+1):
        print(j,end = " ")
    print()

1                 1
2 2             1 2
3 3 3         1 2 3
4 4 4 4     1 2 3 4
5 5 5 5 5 1 2 3 4 5

In [ ]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
lower_limit = int(input())
upper_limit = int(input())
primes_list = []
for i in range(lower_limit+1,upper_limit):
    for j in range(2,i):
        if i % j == 0:
            break 
    else:
        primes_list.append(i)
print(primes_list)

_count = 0

for i in range(len(primes_list)):
    #if _count < len(primes_list):
        for j in range(i + 1):
            if _count < len(primes_list):
                print(primes_list[_count],end = " ")
            else:
                 print("#",end = " ")
            _count += 1
        print()

[2, 3, 5, 7]

2
3 5
7 # #
# # # #

In [14]:
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(5,5-i,-1):
        print(k, end=" ")
    print()

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [18]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j, end=" ") 
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [32]:
lower_limit = int(input())
upper_limit = int(input())
primes_list = []
for i in range(lower_limit+1,upper_limit):
    for j in range(2,i):
        if i % j == 0:
            break 
    else:
        primes_list.append(i)
print(primes_list)

_count = 0

for i in range(len(primes_list)):
     if _count < len(primes_list):
        for j in range(i + 1):
            if _count < len(primes_list):
                print(primes_list[_count],end = " ")
            else:
                print("#",end = " ")
            _count += 1
        print()

[2, 3, 5, 7]
2
3 5
7 # #

In [ ]:
n = int(input())
for i in range(n, 1, -1):           
    spaces = n - i                 
    print(" " * spaces, end="")     

    for j in range(1, i + 1):       
        print(j, end=" ")
    print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2

In [9]:
for i in range(5,1,-1):
    for j in range(5-i):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k, end=" ")
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2

In [17]:
n = int(input())
for i in range(1, n+1):
    for j in range(i, n+1):
        print(j, end=" ")
    for k in range(i-1):
        print(" ", end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [1]:
# n = int(input())
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [4]:
n = int(input('enter a num:'))
for i in range(n,0,-1):
    for j in range(5,i-1,-1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [10]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    for j in range(5,i-1,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [11]:
for i in range(1,6):
    for j in range(5-i):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [17]:
n = int(input('enter a number:'))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [33]:
for i in range(1,n+1):
    for j in range(5-i):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(k, end=" ")
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [36]:
employee = [(1,'tharun',23000,23),
            (2,'keerthi',50000,24),
            (3,'sravani',26000,25),
            (4,'sindhu',60000,32)]
print(employee)

[(1, 'tharun', 23000, 23), (2, 'keerthi', 50000, 24), (3, 'sravani', 26000, 25), (4, 'sindhu', 60000, 32)]

In [12]:
n = int(input())
loe = []

for i in range(n):
    _id, name, age, salary = input().split(",")
    loe.append([_id, name, age, salary])

[(int(i[0]), i[1], int(i[2]), float(i[3])) for i in loe]

[(1231, 'kamal', 23, 85000.0), (1232, 'kumar', 24, 95000.0)]

In [1]:
emp_recs = [(1, 'Nick', 23, 45000.0),
(2, 'Nick Jr.', 63, 245000.0),
(3, 'Nick Sr.', 53, 145000.0),
(4, 'Dan', 23, 45000.0),
(5, 'Steve', 23, 46000.0)]

print(sorted(emp_recs, key=lambda x: x[3]))
print(sorted(emp_recs, key=lambda x: x[3], reverse=True))

print(max(emp_recs))
_max = max(emp_recs, key=lambda x: x[-1])[-1]
_min = min(emp_recs, key=lambda x: x[-1])[-1]

for i in emp_recs:
    if i[-1] == max:
        print(i[1])
for i in emp_recs:
    if i[-1] == min:
        print(i[1])
# min(emp_recs, key=lambda x: x[-1])[1]

[(1, 'Nick', 23, 45000.0), (4, 'Dan', 23, 45000.0), (5, 'Steve', 23, 46000.0), (3, 'Nick Sr.', 53, 145000.0), (2, 'Nick Jr.', 63, 245000.0)]
[(2, 'Nick Jr.', 63, 245000.0), (3, 'Nick Sr.', 53, 145000.0), (5, 'Steve', 23, 46000.0), (1, 'Nick', 23, 45000.0), (4, 'Dan', 23, 45000.0)]
(5, 'Steve', 23, 46000.0)

In [ ]:
emp_recs = [(1, 'Nick $$#  Jr.', 23, '45000.0$'), 
            (2, 'Nick Jr.', 63, '245000.0&**&'),
            (3, 'Nick Sr.', 53, 145000.0), 
            (4, 'Dan  ^^', 23, '45000.0'), 
            (5, 'Steve', 23, 46000.0)]
unwanted = ''. join([chr(i) for i in range(32, 32 + 15)] + [chr(i) for in in range(32 + 26, 32 + 26 + 7)] + ['^'])

SyntaxError: invalid syntax (674397693.py, line 6)

In [3]:
l = [34, 35, 34.5, 36, 35.3, 34.1, 33]
l.sort()
print(l)

[33, 34, 34.1, 34.5, 35, 35.3, 36]

In [8]:
l = [34, 35, 34.5, 36, 35.3, 34.1, 33]
l.sort(reverse=False)
print(l)

[33, 34, 34.1, 34.5, 35, 35.3, 36]

In [9]:
l = [34, 35, 34.5, 36, 35.3, 34.1, 33]
l.sort(reverse=True)
print(l)

[36, 35.3, 35, 34.5, 34.1, 34, 33]

In [11]:
l = [34, 35, 34.5, 36, 35.3, 34.1, 33]
l1 = sorted(l, reverse=True)
print(l)
print(l1)

[34, 35, 34.5, 36, 35.3, 34.1, 33]
[36, 35.3, 35, 34.5, 34.1, 34, 33]

In [12]:
l = ['orange', 'apple', 'peach', 'mango']
l.reverse()
print(l)

['mango', 'peach', 'apple', 'orange']

In [15]:
l = ['orange', 'apple', 'peach', 'mango']
for x in reversed(l):
    print(x)

mango
peach
apple
orange

In [17]:
l = ['orange', 'apple', 'peach', 'mango']
l.clear()
print(l)

[]

In [21]:
l = ['orange', 'apple', 'apple', 'apple']
l.count('apple')

3

In [ ]:
l = ['orange', 'apple', 'peach', 'mango', 'apple', 'mango', 'apple']
s = ['grape', 'cherry', 'rasberry']

l.extend(s)
l

['orange',
 'apple',
 'peach',
 'mango',
 'apple',
 'mango',
 'apple',
 'grape',
 'cherry',
 'rasberry']

In [36]:
l = ['orange', 'apple', 'peach', 'mango', 'apple', 'mango', 'apple']
s = ['grape', 'cherry', 'rasberry']
l.append(s)
l

['orange',
 'apple',
 'peach',
 'mango',
 'apple',
 'mango',
 'apple',
 ['grape', 'cherry', 'rasberry']]

In [39]:
l[7]

['grape', 'cherry', 'rasberry']

In [40]:
l[7][1]

'cherry'

In [41]:
l = ['orange', 'apple', 'peach', 'mango', 'apple', 'mango', 'apple']
'mango' in l

True

In [42]:
l = ['orange', 'apple', 'peach', 'mango', 'apple', 'mango', 'apple']
'strawberrry' in l

False

In [43]:
ratings = [5, 6, 3, 2,2, 1, 6, 7, 8, 5, 6]
avg = sum(ratings)/len(ratings)
c = 0
for rating in ratings:
    if rating <= avg:
        c += 1
print(f'number of students lessthan the avg{c}')

number of students lessthan the avg4

In [48]:
from collection import counter
l = [5, 6, 3, 2, 2, 1, 6, 7, 8, 5, 6]
mode = counter(l)
print(6)

ModuleNotFoundError: No module named 'collection'

In [49]:
l = [3, 4, 5]
s = [99, 55, 88]
l.append(s)
print(l)
print(l[3])
print(type(l[3]))
print(l[3][1])

[3, 4, 5, [99, 55, 88]]
[99, 55, 88]
<class 'list'>
55